.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  color: rgb(4, 155, 241);
}

#page-title {
  font-family: "Courgette", cursive;
}

.city-form select,
.city-form option {
  font-size: 18px;
  padding: 5px;
  border: 1px solid rgba(137, 204, 235);
  background-color: rgba(137, 204, 235, 0.1);
  border-radius: 5px;
}

.loading {
  margin: 20% 0;
  font-size: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
}

.weather-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weather-card {
  flex: 1 1 200px;
  max-width: 300px;
  color: rgba(137, 204, 235, 0.3);
  box-shadow: 6px 9px;
  background: rgba(210, 241, 255, 0.3);
  margin: 20px;
  padding: 8px 5px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather-card h3,
.weather-card h4,
.weather-card p {
  color: rgb(4, 155, 241);
}

.weather-card h3,
.weather-card h4 {
  margin: 3px 5px;
}

.weather-card p {
  font-weight: bold;
}

.weather-card img {
  width: 80%;
}
